@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Dosis:wght@200..800&family=Jaro:opsz@6..72&family=Lilita+One&family=Michroma&family=Orbitron:wght@400..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poetsen+One&family=Quicksand:wght@300..700&family=Rubik+Mono+One&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Dosis:wght@200..800&family=Jaro:opsz@6..72&family=Lilita+One&family=Michroma&family=Orbitron:wght@400..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poetsen+One&family=Quicksand:wght@300..700&family=Rubik+Mono+One&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Caveat:wght@400..700&family=Dosis:wght@200..800&family=Jaro:opsz@6..72&family=Lilita+One&family=Michroma&family=Orbitron:wght@400..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poetsen+One&family=Quicksand:wght@300..700&family=Rubik+Mono+One&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Caveat&family=Dosis:wght@200..800&family=Jaro:opsz@6..72&family=Lilita+One&family=Michroma&family=Orbitron:wght@400..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poetsen+One&family=Quicksand:wght@300..700&family=Rubik+Mono+One&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Special+Gothic+Expanded+One&family=Triodion&display=swap');
@import url(./strae.css);
@import url(./loder.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

#root{
    background: rgba(0, 0, 0, 0.658);
    width: 100%;
    height: 100%;
 
}

#app{
display: flex;
width: 100%;
max-width: 900px;
min-width: 375px;
min-height: 100vh;
margin: 0 auto;
padding: 1rem;
background: rgba(0, 0, 0, 0.589);
 border-radius: 15px;
   backdrop-filter: blur(10px);
   overflow: hidden;
}

ul,li,ol{
    list-style-type: none;
}

#left-bar{
 padding: 2rem;   
width: calc(100% / 3) ;
min-height:100% ;
background:rgba(136, 226, 1, 0.781);
display: flex;
border-radius: 15px;
flex-direction: column;
gap: 1rem;
h2{
font-size: 3rem;
font-family: "Bebas Neue", sans-serif;
color:  rgb(0, 2, 95);
 padding: 2px;
text-transform: uppercase;
font-weight: bold;
text-shadow: 0px 0px 10px rgb(1, 179, 250);
animation: blink 10s infinite linear;

}
#dif{
    background-color: black;
}


}
#search{
 border: none;
outline: none;
 background: rgba(43, 42, 42, 0.658);
 border: 1px solid rgba(252, 249, 249, 0.048);
 color: beige;
 font-family: "PT Serif", serif;
 height: 30px ;
 border-radius: 5px;
 text-align: center;
}

#contacts{
  width: 200px;  
  height: 40px;
 font-family: 'Poppins';
 font-weight: 400;
 font-size: 0.9rem; 
box-shadow: 0px 0px 10px rgb(0, 215, 243);
border-radius: 10px;
 ul{
    li{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Poetsen One", sans-serif;
        color: rgb(154, 255, 241);
        gap: 1rem;
    }
 }
 

}
#chat-display{
    
    width: calc(100% / 3 * 2 ) ;
    min-height: 100%;
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}
#chat-display-message{
    display: flex;
    align-self:center;
    border-radius: 10px;
    overflow: hidden;
    width: 70%;
  background: rgba(43, 42, 42, 0.658);
    input{
     border: none;
     outline: none;
     width: 100%;
     height: 40px;
     background: none;
     color: white;
}
}

.message{
    width: max-content;
    margin-top: 5px;
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.message_overlay{

    background:   rgba(43, 42, 42, 0.658);
    color: bisque;
    padding: 5px;
    border-radius: 5px 5px 5px 5px ;
    border: 1px solid rgb(0, 215, 243);
 
}

.fotor{

    img{
        width: 30px;
        height: 30px;
    }
 
 
}

#send-msg{
border: none;
outline: none;
 background: rgba(43, 42, 42, 0.658);
border-radius: 50%;
width:40px;
height: 40px;
}

#chat-msg-dialog{
padding: 10px;
border-radius: 20px;
overflow: hidden;
background: url("../assets/lopri.jpg");
height: 90vh;
width: 100%;
overflow-y: scroll;
}
#chat-msg-dialog::-webkit-scrollbar{
background:rgba(0, 139, 139, 0.445) ;
width: 2px;
}
#chat-msg-dialog::-webkit-scrollbar-thumb{
background: black;
width: 2px;
}
#audio-msg{
background: rgba(43, 42, 42, 0.658);
border: none;
width: 50px;
}

.message_name{
    
    color: gray;
    font-size: 0.8rem;
    font-family: 'Poppins';
}


.date{
    font-size: 0.7rem;
    font-family: 'Poppins';
}


#mobile_menu{
   width: 40px;
    height: 40px;
    border: none;
    outline: invert;
    background: rgb(1, 1, 56);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    box-shadow: 0px -2px 3px rgba(34, 163, 2, 0.445);
    cursor: pointer;

}


.right-bar-overlay{
    /* display: none; */
    position: relative;
    width: 100vw;
    height: 100vh;
   backdrop-filter: blur(10px);
   display: none;
   border-radius: 20px;
   background:rgba(0, 139, 139, 0.445);
}
#audio-msg-notif{
position: fixed;
width: 300px;
height: 150px;
display: none;
z-index: 15px;
top: calc(50% - 150px);
left: calc(50% - 150px);
align-items: center;
justify-content: space-around;
border-radius: 15px;
background-color: rgba(0, 0, 0, 0.685);
backdrop-filter: blur(10px);
flex-direction: column;
transition: all .2s ease;
&:hover{
cursor: pointer;
transform: scale(1.05);
opacity: 1;

}
}
#plys-msg-notif{
 position: fixed;
width: 300px;
height: 150px;
display: none;
top: calc(50% - 60px);
left: calc(50% - 60px);
align-items: center;
justify-content: space-around;
border-radius: 15px;
background-color: rgba(0, 0, 0, 0.685);
backdrop-filter: blur(10px);
flex-direction: column;
transition: all .2s ease;
&:hover{
cursor: pointer;
transform: scale(1.05);
opacity: 1;

}
}


#plus-msg{
background: rgba(43, 42, 42, 0.658);
border: none;
width: 50px;
}
.right-bar{
    border-radius: 20px;
    width: 80%;
    height: 100%;
    background:rgba(0, 139, 139, 0.445);
    
   animation: fadeInRight 0.5s ease-in-out;
    h2{
     font-size: 3rem;
     font-family: "Bebas Neue", sans-serif;
     color:  rgb(0, 2, 95);
     padding: 2px;
     text-transform: uppercase;
     font-weight: bold;
     text-shadow: 0px 0px 10px rgb(1, 179, 250);
    animation: blink 10s infinite linear;

    }
}

#lifg{
    width: 200px;  
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poetsen One", sans-serif;
    color: rgb(154, 255, 241);
    gap: 1rem;
    font-weight: 400;
    font-size: 0.9rem; 
    box-shadow: 0px 0px 10px rgb(0, 215, 243);
    border-radius: 10px;
}

/* МОДИФИКАТОРЫ */

.active{
  display: flex !important;
  

}

@media  only screen and (max-width: 600px){
 #left-bar{
    display: none;
 }
 

 #chat-display{
    width: 100%;
 }


}

@keyframes fadeInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes blink{
0%{
    opacity: 0;
}
2%{
    opacity: 1;
}
6%{
    opacity: 0;
}
9%  , 60%{
    opacity: 3;
}
61%{
    opacity: 0;
}
62% , 99%{
    opacity: 2;
}
100%{
    opacity: 0;
}
}